---
title: Confronto dei risultati dei test di carico
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.openlocfilehash: 52c5ff41a8c1085e39009c240e3416a60a081101
ms.sourcegitcommit: 37fb7075b0a65d2add3b137a5230767aa3266c74
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 01/02/2019
ms.locfileid: "53951105"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Creare report sui risultati dei test di carico per confronti tra test o analisi delle tendenze

È possibile generare report del test di carico di Microsoft Excel basati su due o più risultati del test.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Sono disponibili due tipi di report del test di carico:

- Esegui confronto&mdash;questo report è in realtà costituito da due report in cui sono visualizzati dati di confronto affiancati usando tabelle e grafici a barre.

- Tendenza: è possibile generare analisi delle tendenze in due o più report. I risultati vengono visualizzati utilizzando grafici a linee.

Ciascun report può essere usato per condividere dati relativi alle prestazioni con gli stakeholder e mostrare se le prestazioni complessive e l'integrità del sistema stanno migliorando o peggiorando.

Le definizioni del report vengono archiviate nel database del test di carico. Quando viene salvato un report, la definizione per il report viene salvata nel database e può essere usata nuovamente in un secondo momento.

Inoltre, il file del foglio di calcolo può essere condiviso con gli stakeholder in modo che questi non debbano connettersi al database per vedere il rapporto.

> [!NOTE]
> Se si aggiungono commenti a un test di carico, vengono visualizzati nel report di Excel.

## <a name="tasks"></a>Attività

|Attività|Argomenti correlati|
|-|-|
|**Creare un report su prestazioni e stress:** è possibile creare report relativi ai test di carico e delle prestazioni Web usando Microsoft Excel.|- [Procedura: Creare report di prestazioni dei test di carico usando Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Creare manualmente un report su prestazioni e stress usando Microsoft Word:** è possibile creare manualmente report relativi ai test di carico e delle prestazioni Web copiando e incollando dati di riepilogo, tabelle e grafici in un documento Microsoft Word.|- [Procedura: Creare manualmente un report di prestazioni del test di carico usando Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico](../test/analyze-load-test-results-using-the-load-test-analyzer.md)