---
title: Confronto dei risultati dei test di carico
description: Informazioni su come generare report del test di carico di Excel basati su due o più risultati dei test, inclusi i report di confronto e i rapporti di tendenza.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 66a388b5b6d74834c58eebad04147d5067655a28
ms.sourcegitcommit: 02f14db142dce68d084dcb0a19ca41a16f5bccff
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 11/23/2020
ms.locfileid: "95441594"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Creare report sui risultati dei test di carico per confronti tra test o analisi delle tendenze

È possibile generare report del test di carico di Microsoft Excel basati su due o più risultati del test.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Sono disponibili due tipi di report del test di carico:

- Esegui confronto&mdash;questo report è in realtà costituito da due report in cui sono visualizzati dati di confronto affiancati usando tabelle e grafici a barre.

- Tendenza: è possibile generare analisi delle tendenze in due o più report. I risultati vengono visualizzati utilizzando grafici a linee.

Ciascun report può essere usato per condividere dati relativi alle prestazioni con le parti interessate e mostrare se le prestazioni complessive e l'integrità del sistema stanno migliorando o peggiorando.

Le definizioni del report vengono archiviate nel database del test di carico. Quando viene salvato un report, la definizione per il report viene salvata nel database e può essere usata nuovamente in un secondo momento.

Inoltre, il file del foglio di calcolo può essere condiviso con parti interessate in modo che esse non debbano connettersi al database per vedere il rapporto.

> [!NOTE]
> Se si aggiungono commenti a un test di carico, vengono visualizzati nel report di Excel.

## <a name="tasks"></a>Attività

|Attività|Argomenti correlati|
|-|-|
|**Creazione di un report di prestazioni e stress:** È possibile creare report sui test di carico e delle prestazioni Web utilizzando Microsoft Excel.|- [Procedura: creare report di prestazioni dei test di carico utilizzando Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Creare manualmente un report di prestazioni e stress usando Microsoft Word:** È possibile creare manualmente report sui test di carico e delle prestazioni Web copiando e incollando dati di riepilogo, tabelle e grafici in un documento di Microsoft Word.|- [Procedura: creare manualmente un report di prestazioni di un test di carico usando Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
