---
title: 'Procedura: creare grafici personalizzati nei risultati del test di carico'
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 1cc9c5bab7601a62bacfbbb155227bd5b632f93a
ms.sourcegitcommit: 6cfffa72af599a9d667249caaaa411bb28ea69fd
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 09/02/2020
ms.locfileid: "85287805"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Procedura: Creare grafici personalizzati nei risultati del test di carico

È possibile progettare grafici che visualizzano specifiche informazioni sui risultati dei test di carico. Per progettare un grafico personalizzato, specificare i contatori del test di carico che verranno visualizzati sul grafico.

È possibile eseguire la procedura descritta di seguito durante l'esecuzione di un test di carico o al termine dell'esecuzione.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Per creare un grafico personalizzato dei risultati del test di carico

1. Sulla barra degli strumenti del **test di carico** scegliere **Aggiungi nuovo grafico**.

     \- - oppure -

     Nell' **analizzatore test di carico**fare clic con il pulsante destro del mouse nel pannello dei **contatori** o in un grafico, quindi selezionare **Aggiungi grafico**.

     Viene visualizzata la finestra di dialogo **Nome grafico**.

2. In **Nome grafico** digitare un nome per il grafico e scegliere **OK**.

     Il nuovo grafico viene visualizzato nell'**Analizzatore test di carico**. nel pannello del grafico attualmente selezionato, sostituendo il grafico presente precedentemente nel pannello.

3. Personalizzare il nuovo grafico aggiungendo i contatori. Per altre informazioni, vedere [procedura: aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico nella visualizzazione grafici](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Procedura: Aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
