---
title: 'Procedura: creare grafici personalizzati nei risultati del test di carico'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: jillre
ms.author: jillfra
manager: jillfra
ms.openlocfilehash: 9012fbea21f552b8057278b37f5d336718c0269f
ms.sourcegitcommit: a8e8f4bd5d508da34bbe9f2d4d9fa94da0539de0
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 10/19/2019
ms.locfileid: "72653571"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Procedura: Creare grafici personalizzati nei risultati del test di carico

È possibile progettare grafici che visualizzano specifiche informazioni sui risultati dei test di carico. Per progettare un grafico personalizzato, specificare i contatori del test di carico che verranno visualizzati sul grafico.

È possibile eseguire la procedura descritta di seguito durante l'esecuzione di un test di carico o al termine dell'esecuzione.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Per creare un grafico personalizzato dei risultati del test di carico

1. Fare clic su **Aggiungi nuovo grafico** sulla barra degli strumenti del **test di carico**.

     \- oppure -

     Nell'**Analizzatore test di carico** fare clic con il pulsante destro del mouse nel riquadro **Contatori** o in un grafico, quindi selezionare **Aggiungi grafico**.

     Viene visualizzata la finestra di dialogo **Nome grafico**.

2. In **Nome grafico** digitare un nome per il grafico e scegliere **OK**.

     Il nuovo grafico viene visualizzato nell'**Analizzatore test di carico**. nel pannello del grafico attualmente selezionato, sostituendo il grafico presente precedentemente nel pannello.

3. Personalizzare il nuovo grafico aggiungendo i contatori. Per altre informazioni, vedere [Procedura: Aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico nella visualizzazione Grafici](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Procedura: Aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)